/*removing browser dafault styling*/
/* the * acts as a select all*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

footer {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  text-align: left;
  color: black;
  margin-left: 20pt;
  margin-top: 5pt;
  position: fixed;
  bottom: 0;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .stock-search {
    display: flex;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button {
    float: center;
  }

  h2 {
    padding-bottom: 25px;
  }

  footer {
    display: inline-block;
    margin-left: 20pt;
    margin-top: 50pt;
    position: fixed;
    bottom: 0;
  }

  /* Two homepage columns */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  /*home page*/
  .home {
    display: none;
  }

  .crypto {
    display: none;
  }

  .crypto-ticker {
    display: none;
  }

  .stock {
    display: none;
  }

  .stock-ticker {
    display: none;
  }

  html,
  body {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    margin: auto;
    background-image: url("assets/arcan.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-family: "Squada One", cursive;
    font-size: clamp(2rem, 10vw, 4rem);
    text-align: center;
    padding-top: 25pt;
    line-height: 0.85;
    z-index: 2;
  }

  h1 a {
    color: black;
    text-decoration: none;
  }

  h1 a:hover {
    color: #f05;
  }

  p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: clamp(0.75rem, 4vw, 1.65rem);
    color: black;
    text-align: center;
    padding-bottom: 15pt;
    line-height: 1.25;
    z-index: 2;
  }

  #cryptoSearchForm {
    display: none;
  }
  #stockSearchForm {
    display: none;
  }

  .round {
    display: center;
    padding: 15px 15px;
    border-radius: 50px;
    border: black solid 0px;
    width: 190px;
    background-color: #f05f66;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: rgb(0, 0, 0);
    position: absolute;
    margin: 150px 0px 0px 0px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  button:hover {
    background-color: #f05;
  }

  #cryptoMarket {
    display: none;
    color: crimson;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    margin-top: 70px;
  }

  #stockMarket {
    display: none;
    color: crimson;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    margin-top: 70px;
  }

  #button {
    display: flex;
    justify-self: left;
  }
  #title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}
